* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --sidebar-width: 200px;
}
  
body {
    background-color: #222222;
    color: #f2f2f2;
    font-family: 'Didact Gothic'; font-size: 18px;
    overscroll-behavior: none;
}

.content {
    margin-left: var(--sidebar-width);
    flex: 1;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.expense-tile {
    background: linear-gradient(135deg, #333333, #222222);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #ffffff;
    height: 180px;
    transition: transform 0.2s;
}

.expense-tile:hover {
    transform: scale(1.05);
  }

  .expense-tile .category {
    color: #ff9800;
    font-weight: bold;
  }
  
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-left: var(--sidebar-width);
}
  
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #f2f2f2;
}
  
form {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
  
form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #333;
    color: #f2f2f2;
}
  
form button {
    width: 100%;
    padding: 10px;
    background-color: #4169E1;
    border: none;
    border-radius: 5px;
    color: #f2f2f2;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
  
form button:hover {
    background-color: #3559a6;
}
  
.transactions {
    margin-top: 30px;
}
  
.transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f1f1f;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
  
.box {
    flex: 1;
}
  
.price {
    font-weight: bold;
}
  
.price.red {
    color: #c11;
}
  
.price.green {
    color: #1c1;
}
  
.dateTime {
    color: #777;
    font-size: 0.8rem;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-item:hover {
    background-color: #e0e0e0 !important;
}

.navbar-spacing {
    margin-right: 15px; /* Adjust the spacing value as needed */
}

.navbar {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.208); 
}

.sticky-top {
    position: sticky;
    top: 0;
}

.navbar-buttons .button {
    color: #ffffff;
    border: 3px white;
    border-style: solid;
    border-radius: 25px;
    padding: 12px 25px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.321);
}

.add-expense-bg-color {
    background-color: #51c56e;
}

.add-family-member-bg-color {    
    background-color: #4485d9;
}

.add-expense-bg-color:hover {
    background-color: #82ffa1;
    transform: scale(1.05);
}

.add-family-member-bg-color:hover {
    background-color: #6aaafe;
    transform: scale(1.05);
}

.sidebar {
    background-color: #3b3b3b;
    width: var(--sidebar-width);
    height: 100vh;
    padding-left: 15px;
    margin-bottom: -15px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.321);
    position: fixed;
    top: 0px; /* Stick to the top of the viewport */
    padding-top: 120px;
    overflow-y: auto;
}

.sidebar-button-style {
    position: static;
    width: auto;
    margin-bottom: 10px;
    color: lightgrey
}

.sidebar-button-style:hover {
    color: white;
    transform: scale(1.05);
    transition: background-color 0.2s, transform 0.2s
}

.sidebar hr {
    border: none;
    border-top: 3px solid white;
    width: 95%; /* Adjust the width as needed */
    margin: 15px 5px; /* Adjust the margin as needed */
    margin-top: 5px;
    margin-left: -2px;
}

.text-overflow {
    display: inline-block;
    width: 180px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}